In [1]:
import pandas as pd
import numpy as np

In [ ]:
links = pd.read_csv('links.csv')
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
tags = pd.read_csv('tags.csv')

In [3]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [4]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [7]:
df = pd.merge(links,movies,on='movieId',how='inner')
df

,movieId,imdbId,tmdbId,title,genres
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy
2,3,113228,15602.0,Grumpier Old Men (1995),Comedy|Romance
3,4,114885,31357.0,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,113041,11862.0,Father of the Bride Part II (1995),Comedy
...,...,...,...,...,...
9737,193581,5476944,432131.0,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,5914996,445030.0,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,6397426,479308.0,Flint (2017),Drama
9740,193587,8391976,483455.0,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,101726,37891.0,Andrew Dice Clay: Dice Rules (1991),Comedy

In [8]:
df = pd.merge(df,ratings,on='movieId',how='inner')
df

,movieId,imdbId,tmdbId,title,genres,userId,rating,timestamp
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
...,...,...,...,...,...,...,...,...
100831,193581,5476944,432131.0,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082
100832,193583,5914996,445030.0,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545
100833,193585,6397426,479308.0,Flint (2017),Drama,184,3.5,1537109805
100834,193587,8391976,483455.0,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021
100835,193609,101726,37891.0,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606

In [12]:
df = pd.merge(df,tags,on='movieId',how='inner',suffixes=('','_tags'))
df

,movieId,imdbId,tmdbId,title,genres,userId,rating,timestamp,userId_tags,tag,timestamp_tags
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,336,pixar,1139045764
1,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,474,pixar,1137206825
2,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,567,fun,1525286013
3,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,336,pixar,1139045764
4,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,474,pixar,1137206825
...,...,...,...,...,...,...,...,...,...,...,...
233208,187595,3778644,348350.0,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,586,5.0,1529899556,62,star wars,1528934552
233209,193565,1636780,71172.0,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554,184,anime,1537098582
233210,193565,1636780,71172.0,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554,184,comedy,1537098587
233211,193565,1636780,71172.0,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554,184,gintama,1537098603
233212,193565,1636780,71172.0,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554,184,remaster,1537098592

In [16]:
df['timestamp_ratings'] = df['timestamp']

In [19]:

df = df.drop(columns=['userId_tags'])
df

,movieId,imdbId,tmdbId,title,genres,userId,rating,tag,timestamp_tags,timestamp_ratings
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,pixar,1139045764,964982703
1,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,pixar,1137206825,964982703
2,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,fun,1525286013,964982703
3,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,pixar,1139045764,847434962
4,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,pixar,1137206825,847434962
...,...,...,...,...,...,...,...,...,...,...
233208,187595,3778644,348350.0,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,586,5.0,star wars,1528934552,1529899556
233209,193565,1636780,71172.0,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,anime,1537098582,1537098554
233210,193565,1636780,71172.0,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,comedy,1537098587,1537098554
233211,193565,1636780,71172.0,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,gintama,1537098603,1537098554
233212,193565,1636780,71172.0,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,remaster,1537098592,1537098554

In [20]:
df.duplicated().sum()

0

In [21]:
df.isna().sum()

movieId              0
imdbId               0
tmdbId               0
title                0
genres               0
userId               0
rating               0
tag                  0
timestamp_tags       0
timestamp_ratings    0
dtype: int64

In [1]:
user_item = df.pivot_table(
    index = 'userId',
    columns = 'movieId',
    values = 'rating'
)
user_item

NameError: name 'df' is not defined

In [25]:
user_item_filled = user_item.fillna(0)
user_item_filled

movieId,1,2,3,5,7,11,14,16,17,21,...,176371,176419,179401,180031,180985,183611,184471,187593,187595,193565
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,2.5,2.5,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,4.5,0.0,3.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Computing User-User Similiarity using Cosine Similarity

In [26]:
from sklearn.metrics.pairwise import cosine_similarity
user_sim = cosine_similarity(user_item_filled)
user_sim_df = pd.DataFrame(
    user_sim,
    index = user_item_filled.index,
    columns = user_item_filled.index
)
print(user_sim_df)

userId       1         2         3         4         5         6         7    \
userId
1       1.000000  0.022248  0.027001  0.247329  0.175428  0.179687  0.239219
2       0.022248  1.000000  0.000000  0.005550  0.019876  0.018778  0.014947
3       0.027001  0.000000  1.000000  0.029934  0.053606  0.060774  0.000000
4       0.247329  0.005550  0.029934  1.000000  0.157897  0.121160  0.152475
5       0.175428  0.019876  0.053606  0.157897  1.000000  0.422213  0.135942
...          ...       ...       ...       ...       ...       ...       ...
606     0.256994  0.049909  0.078920  0.293271  0.154332  0.168637  0.296944
607     0.391477  0.020071  0.071453  0.191333  0.213102  0.227978  0.282795
608     0.402357  0.054363  0.084290  0.209243  0.191066  0.238020  0.431402
609     0.159757  0.043528  0.000000  0.056928  0.336987  0.333892  0.150449
610     0.251391  0.177541  0.023049  0.199449  0.097699  0.103559  0.315466

userId       8         9         10   ...       601       602       603  \
userId                                ...
1       0.183219  0.109528  0.037568  ...  0.132618  0.222031  0.302658
2       0.034428  0.000000  0.137046  ...  0.272150  0.023925  0.021624
3       0.055711  0.000000  0.000000  ...  0.033617  0.061943  0.081843
4       0.089053  0.020935  0.054044  ...  0.129211  0.161317  0.394010
5       0.439000  0.000000  0.055937  ...  0.082175  0.485622  0.169959
...          ...       ...       ...  ...       ...       ...       ...
606     0.150103  0.105239  0.151112  ...  0.277303  0.182955  0.470616
607     0.249696  0.022715  0.021518  ...  0.134297  0.266314  0.323138
608     0.258943  0.125388  0.147758  ...  0.249258  0.267353  0.336896
609     0.464998  0.000000  0.052500  ...  0.056829  0.423349  0.092110
610     0.134555  0.104398  0.198661  ...  0.354914  0.161960  0.274969

userId       604       605       606       607       608       609       610
userId
1       0.097070  0.219546  0.256994  0.391477  0.402357  0.159757  0.251391
2       0.000000  0.000000  0.049909  0.020071  0.054363  0.043528  0.177541
3       0.000000  0.000000  0.078920  0.071453  0.084290  0.000000  0.023049
4       0.074651  0.105807  0.293271  0.191333  0.209243  0.056928  0.199449
5       0.321188  0.208863  0.154332  0.213102  0.191066  0.336987  0.097699
...          ...       ...       ...       ...       ...       ...       ...
606     0.125246  0.245353  1.000000  0.241147  0.408020  0.131328  0.362241
607     0.139902  0.208005  0.241147  1.000000  0.392458  0.217899  0.248164
608     0.204422  0.263617  0.408020  0.392458  1.000000  0.180233  0.506081
609     0.305117  0.198229  0.131328  0.217899  0.180233  1.000000  0.116545
610     0.091181  0.212514  0.362241  0.248164  0.506081  0.116545  1.000000

[610 rows x 610 columns]

In [33]:
def get_top_k_users(userId,k=5):
    sims = user_sim_df[userId].drop(userId)
    return sims.sort_values(ascending = False).head(k)

get_top_k_users(userId=1)

userId
266    0.463885
313    0.450239
91     0.447713
368    0.440843
39     0.440121
Name: 1, dtype: float64

In [39]:
def recommend_items(userId,k_users = 2,k_items=2):
    similar_users = get_top_k_users(userId,k_users)

    user_ratings = user_item.loc[userId]

    scores = {}

    for sim_user,similarity in similar_users.items():
        sim_user_ratings = user_item.loc[sim_user]

        for item, rating in sim_user_ratings.items():
            if pd.isna(user_ratings[item]) and not pd.isna(rating):
                scores[item] = scores.get(item, 0) + similarity * rating
    
    ranked_items = sorted(scores.items(), key = lambda x: x[1], reverse=True)

    movie_ids = [item for item, _ in ranked_items[:k_items]]
    titles = movies[movies['movieId'].isin(movie_ids)]['title'].tolist()
    return titles

In [40]:
recommend_items(userId=1)

['Blade Runner (1982)', 'Aliens (1986)']